<h1>Edit the movie: </h1>
{{#with movie}}
<form action="/movies/{{id}}/edit" method="POST">
    <label for="">Title: </label>
    <input value={{title}} type="text" name="title">
    <br>
    <label for="">Genre: </label>
    <input value={{genre}} type="text" name="genre">
    <br>
    <label for="">Plot: </label>
    <input value={{plot}} type="text" name="plot">
    <br>
{{/with}}
    <label for="">Cast: </label>
    <select name="cast" multiple type="text">
        {{#each movie.cast }}
            <option selected value={{this.id}}>{{this.name}}</option>
        {{/each}}
        {{#each notInCast }}
            <option value={{this.id}}>{{this.name}}</option>
        {{/each}}
    </select>
    
    <button type="submit">Update Movie</button>
</form>